<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<section class="sectionMainPage">
  <nav class="menu">
    <a routerLink="home" ariaCurrentWhenActive="page">Home</a>
    <a routerLink="legitka" ariaCurrentWhenActive="page">Legitymacja szkolna</a>
  </nav>
  
  <header class="headerMainPage"> 
    <h1>{{title}}</h1>
    <p>Wszystkie dokumenty są tworzone w celach rekreacyjnych i nie mają na celu podszywania się pod autentyczność dokumentów.<br>Generator działa w sposób nie wykorzystujący tajemniczych metod tworzenia dokumentów.<br>Tworzone dokumenty to wyobrażenie autora, który jest postacią fikcyjną wygenerowaną przez wyższą inteligencje dla celów platformy.</p>
  </header>
  
  <main>
    <router-outlet />
  </main>
  
  <footer>
    <p id="autor">Autor: <b>{{autor}}</b></p>
  </footer>
</section>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

