<h1>Generator Legitymacji szkolnej</h1>

<div class="container-generator">
    <div class="column">
        <div class="image"></div>
        <p class="nrLegitki"></p>
        <input type="text" class="wypelniacz" placeholder="Nr /2021/2022_">
            
    </div>

    <div class="column">
        <div class="container-middleTop">
            <p class="tytul">Imię i nazwisko</p>
            <input type="text" class="wypelniacz" placeholder="JAN KOWALSKI_">
            <p class="tytul">Data urodzenia</p>
            <input type="text" class="wypelniacz" placeholder="01.01.2000_">
        </div>

        <div class="container-middleBottom">
            <p class="tytul">Nazwa i adres szkoły</p>
            <textarea class="textArea-wypelniacz" placeholder="TECHNIKUM&#10;IM. JANA KOWALSKIEGO&#10;UL. PROSTA 78&#10;99-999 JELENIA GÓRA"></textarea>
            <p class="tytul">Dytektor szkoły</p>
            <input type="text" class="wypelniacz" placeholder="JAN KOWALSKI_">
            <p class="tytul">Data wydania</p>
            <input type="text" class="wypelniacz" placeholder="01.01.2021_">
        </div>
    </div>

    <div class="column">
        <p class="tytul">Numer PESEL</p>
        <input type="text" class="wypelniacz" placeholder="11111111111_">
    </div>
</div>