<button class="sexyButton">Generuj</button>

<div class="container-generator">
    <div class="column1">
        <div class="image"></div>
        <input type="text" class="wypelniacz1" placeholder="Nr /2021/2022">
    </div>

    <div class="column2">
        <div class="container-middleTop">
            <p class="tytul">Imię i nazwisko</p>
            <input type="text" class="wypelniacz1" placeholder="JAN KOWALSKI">
            <p class="tytul">Data urodzenia</p>
            <input type="text" class="wypelniacz2" placeholder="01.01.2000">
        </div>

        <div class="container-middleBottom">
            <p class="tytul">Nazwa i adres szkoły</p>
            <textarea class="textArea-wypelniacz1" placeholder="TECHNIKUM&#10;IM. JANA KOWALSKIEGO&#10;UL. PROSTA 78&#10;99-999 JELENIA GÓRA"></textarea>
            <p class="tytul">Dytektor szkoły</p>
            <input type="text" class="wypelniacz2" placeholder="JAN KOWALSKI">
            <p class="tytul">Data wydania</p>
            <input type="text" class="wypelniacz3" placeholder="01.01.2021">
        </div>
    </div>

    <div class="column3">
        <p class="tytul">Numer PESEL</p>
        <input type="text" class="wypelniacz1" placeholder="11111111111">
    </div>

</div>